name: Check long description for PyPI

on:
  pull_request:
    branches:
      - main
      - feature/**

permissions:
  contents: read

jobs:
  twine-check:
    name: Check long description
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'
      - name: Install wheel
        run: python -m pip install --user --upgrade wheel
      - name: Install twine
        run: python -m pip install --user --upgrade twine
      - name: Install setuptools
        run: python -m pip install --user --upgrade setuptools
      - name: Build a binary wheel and a source tarball
        run: python setup.py sdist bdist_wheel
      - name: Check that long description will render correctly on PyPI.
        run: twine check dist/*
