name: Check long description for PyPI

on:
  pull_request:
    branches:
      - main
      - feature/**

permissions:
  contents: read

jobs:
  twine-check:
    name: Check long description
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.13'
      - name: Install wheel
        run: python -m pip install --user --upgrade wheel
      - name: Install twine
        run: python -m pip install --user --upgrade twine
      - name: Install setuptools
        run: python -m pip install --user --upgrade setuptools
      - name: Build a binary wheel and a source tarball
        run: python setup.py sdist bdist_wheel
      - name: Check that long description will render correctly on PyPI.
        run: twine check dist/*
